* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 148px;
    background-color: #CDFF9A; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 1100;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header .nav .menu {
    position: relative;
}
.header .nav .logo {
    color: #07272E;
}

.header .nav .menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.header .nav .menu li {
    position: relative;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: fixed;
    top: 120px; 
    left: 0;
    width: 100vw;
    background-color: #fff;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 30px;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu .dropdown-right {
    display: flex;
    gap: 15px;
    padding-left: 20px;
    margin: auto;
}

.dropdown-menu .dropdown-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block !important;
    width: 100%;
}

.dropdown-menu .dropdown-left li {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: row; 
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;  
}

.dropdown-menu .dropdown-left li a {
    text-decoration: none;
    color: #07272E !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    display: block; 
}


.dropdown-left li:hover {
    background: #e5e5e5;
}

.dropdown-right img {
    width: 100%;
}

/* End Dropdown */

.header .nav .menu ul li a {
    text-decoration: none;
    color: #07272E;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s;
}

.header .nav .menu ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: #07272E;
    transition: width 0.3s ease-in-out;
}

.header .nav .menu ul li a:hover::after {
    width: 50%;
}

.header .nav .icon {
    display: flex;
    gap: 20px;
}

.header .nav .icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* End Header */

/* Content */
.content {
    background-color: #07272E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin-top: 148px;
}

/* Left */
.left-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.vertical-slogan {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 16px;
    color: #CDFF9A;
    text-transform: uppercase;
    top: 0;
    margin-bottom: 100px;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 16px;
    color: #CDFF9A;
    text-transform: uppercase;
}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.social-icons img {
    cursor: pointer;
    margin: 10px;
}

.social-icons img:hover {
    opacity: 0.7;
}

.border {
    border: 1px solid #fff;
    height: 100vh;
}

/* Right */
.right-sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.content-news {
    position: relative;
    margin: auto;
}

.content-number {
    font-size: 400px;
    color: #CDFF9A;
    opacity: 0.1;
    font-weight: bold;
    position: absolute;
    top: -40px;
    left: -12px;
}

.content-subtitle {
    color: #CDFF9A;
    font-size: 18px;
    font-weight: 400;
    margin-top: 200px;
}

.content-title {
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin: 20px 0;
}

.content-btn {
    background-color: #07272E;
    border: 2px solid #9fcf84;
    padding: 12px 24px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

.content-btn:hover {
    background: #9fcf84;
    color: #01121a;
}

.content-image {
    position: relative;
}

.content-hero img {
    width: 100%;
}

.content-arrow {
    position: absolute;
    right: 0;
    margin: 20px 0;
}

/* End Content */

